gevent>=1.0
greenlet>=0.3.2
prettytable
python-daemon
pyyaml
msgpack-python
pyzmq
amqp
grequests
jinja2
gearman
pycrypto
configobj
restartlet
lxml
# Pillow==2.9.0
Pillow
blockdiag
bottle
xmltodict
gsmtpd
jsonschema